allure-pytest==2.9.45
allure-python-commons==2.9.45
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
dnspython==2.2.0
email-validator==1.1.3
Faker==12.3.3
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
psycopg2==2.9.3
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.0.1
python-dateutil==2.8.2
requests==2.27.1
six==1.16.0
SQLAlchemy==1.4.36
tomli==2.0.1
typing-extensions==4.1.1
urllib3==1.26.8
